.createCourse_page {
	padding: 54px 10%;
}
.title_createCourse_page {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
	text-transform: capitalize;
	color: #333e48;
	margin-bottom: 32px;
}

.container_createCourse {
	padding: 42px 80px;
	background-color: white;
	row-gap: 16px;
	display: flex;
	flex-direction: column;
}

.duration_container {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	flex-direction: row;
	column-gap: 32px;
}
#description,
#title {
	width: 100%;
	height: 50px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	border: 1px solid #cfcfcf;
	border-radius: 4px;
	text-align: start;
	padding: 16px;
	color: black;
}
#description {
	height: 152px;
}

#duration,
#authors {
	width: 400px;
	height: 50px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	border: 1px solid #cfcfcf;
	border-radius: 4px;
	text-align: start;
	padding: 16px;
	color: black;
}
.titles_container_createCourse {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	text-transform: capitalize;
	color: #333e48;
}

.title_authorsList {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	display: flex;
	align-items: center;
	color: #333e48;
}
.subtitle_container_createCourse {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #333e48;
}
.duration_format {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #333e48;
	position: relative;
	bottom: 16px;
}

.authors_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
